<div class="col-xs-12 col-sm-4 col-md-4 user releases">
  <h5>{{users}}</h5>
  <h6>{{__ "registered users"}}</h6>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 project releases">
  <h5>{{projects}}</h5>
  <h6>{{__ "projects"}}</h6>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 dashboard releases">
  <h5>{{releases}}</h5>
  <h6>{{__ "released projects"}}</h6>
</div>
