
<div class="landing-header">
  <div class="call-action">
    <div id="landing">
      <div class="inner">
        <img class="mainlogo" src="/images/static/landing-banner.svg" style="width:520px;margin-top:100px;"/>
        <img class="mainlogo-sm" src="/images/static/landing-banner-sm.svg"/>
      </div>
      <div class="text-center">
        <a id="create-dashboard" class="btn-xl btn btn-primary" href="/dashboards/2017spring" data-bypass="true">{{__ "create now"}}</a>
        <br/>
        <a class="continue">
          <i class="fa fa-angle-down"></i>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">

      <a class="btn btn-default mobile-menu visible-xs">
        <i class="fa fa-align-justify"></i>
      </a>

      <ul class="nav nav-tabs landing" role="tablist">

        <!--
        <li id="collection" class="collection">
          <a href="#collections" role="tab" data-toggle="tab">{{__ "Collections"}}</a>
        </li>
        <li id="dashboard" class="dashboard">
          <a href="#dashboards" role="tab" data-toggle="tab">{{__ "Dashboards"}}</a>
        </li>
        -->
        <li id="project" class="project">
          <a href="#projects" role="tab" data-toggle="tab">{{__ "Projects"}}</a>
        </li>
        <li id="user" class="user">
          <a href="#users" role="tab" data-toggle="tab">{{__ "People"}}</a>
        </li>

      </ul>

    </div>
  </div>
</div>

<div class="tab-content">
  <!--
  <div role="tabpanel" class="tab-pane" id="dashboards"></div>
  -->
  <div role="tabpanel" class="tab-pane" id="projects"></div>
  <div role="tabpanel" class="tab-pane" id="users"></div>
  <!--
  <div role="tabpanel" class="tab-pane" id="collections"></div>
  -->
</div>

<div class="col-md-12 stats-ctn"></div>

<div class="col-md-12 footer-ctn"></div>
