
<div class="header dashboard-{{domain}}">
  <div class="container">

    {{#isEmbed}}
    <a class="dash-details" href="/dashboards/{{domain}}" target="_blank"></a>
    {{else}}
    <div class="dash-details"></div>
    {{/isEmbed}}

    <div class="dash-admins"></div>

    <div class="dash-buttons">
      {{#if link}}
        <a class="link tooltips btn btn-primary" href="{{link}}" target="_blank"
        data-bypass data-original-title='{{__ "Open dashboard website"}}'>
          <i class="fa fa-link"></i>
        </a>
      {{/if}}
      <a class="share tooltips btn btn-primary" data-original-title='{{__ "Share this Dashboard"}}'>
        <i class="fa fa-share-alt"></i>
      </a>

      {{#if open}}
        {{#isLoggedIn}}
        <a class="btn btn-primary" href="/dashboards/{{domain}}/create">
          <i class="fa fa-plus"></i>
          {{__ "Create Project"}}
        </a>
        {{else}}
        <a class="login" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          {{__ "Create Project"}}
        </a>
        {{endif}}
        {{/isLoggedIn}}
      {{/if}}

    </div>
    <div class="pull-right dash-search"></div>

    {{#isDashOpen}}
    <div class="dash-create">
      <h3 class="create-project">
        <i class="fa fa-plus"></i>
        {{#isLoggedIn}}
        <a href="/dashboards/{{domain}}/create">{{__ "Create Project"}}</a>
        {{else}}
        <a class="login">{{__ "Create Project"}}</a>
        {{/isLoggedIn}}
      </h3>
    </div>
    {{/isDashOpen}}

  </div>
</div>

<div class="body dashboard-{{domain}}">

  <div class="container">

    <div id="dashboard-projects" class="section"></div>
    <div id="inactive-projects" class="hide inactive-ctn"></div>

  </div>

</div>
