<div class="footer-dash-ctn">
  <div class="footer-toggle-ctn">
    <a href="https://hackdash.org"><div>powered by hackdash.org</div></a>

    {{#if isDashboard}}
      {{#if isAdmin}}
      <a href="/api/v2/dashboards/{{domain}}/csv" target="_blank" data-bypass>
        <i class="fa fa-download"></i>
        <div>{{__ "Export .CSV File"}}</div>
      </a>
      <a data-placement="top" data-original-title="{{switcherMsg}}"
        class="tooltips dashboard-btn {{#if open}}dash-open{{else}}dash-close{{/if}}">
        <i class="txt {{#if open}}btn-success{{else}}btn-danger{{/if}}">{{#if open}}{{__ "Open"}}{{else}}{{__ "Close"}}{{/if}}</i>
        <div>{{__ "Dashboard Status"}}</div>
      </a>
      <a data-placement="top"
        class="tooltips editable-btn {{#if editable}}edit-open{{else}}edit-close{{/if}}">
        <i class="txt {{#if editable}}btn-success{{else}}btn-danger{{/if}}">{{#if editable}}{{__ "Open"}}{{else}}{{__ "Close"}}{{/if}}</i>
        <div>{{__ "Edit Status"}}</div>
      </a>

      {{/if}}
    {{/if}}

  </div>
  {{#if isDashboard}}
    {{#if isAdmin}}
    <a class="btn-showcase-mode">
      <i class="btn-danger txt">{{__ "off"}}</i><div>{{__ "Edit Showcase"}}</div>
    </a>
    {{/if}}
  {{/if}}

</div>
