
<h3 style="margin-right:15px;float:right">powered by hackdash.org</h3>
<a class="brand {{#if isDashboard}}{{#if isAdmin}}dashboard-footer{{/if}}{{/if}}">
  <img src="/images/static/brand.png" style="padding:13px"/>
</a>

{{#if isDashboard}}
  {{#if isAdmin}}
  <div class="footer-dash-ctn">


    <div class="footer-toggle-ctn">

      <a href="/api/v2/dashboards/{{domain}}/csv" target="_blank" data-bypass>
        <i class="fa fa-download"></i>
        <div>{{__ "Export .CSV File"}}</div>
      </a>

      <a data-placement="top" data-original-title="{{switcherMsg}}"
        class="tooltips dashboard-btn {{#if open}}dash-open{{else}}dash-close{{/if}}">
        <i class="txt {{#if open}}btn-success{{else}}btn-danger{{/if}}">{{#if open}}{{__ "Open"}}{{else}}{{__ "Close"}}{{/if}}</i>
        <div>{{__ "Dashboard Status"}}</div>
      </a>

    </div>

    <a class="btn-showcase-mode">
      <i class="btn-danger txt">{{__ "off"}}</i><div>{{__ "Edit Showcase"}}</div>
    </a>

  </div>
  {{/if}}
{{/if}}

