
<div class="header">
  <div class="container">
    <label>提案</label>
    <h1>
      <input name="title" type="text" placeholder='{{__ "Project Title"}}' value="{{title}}" class="form-control"/>
    </h1>
    <h3 class="page-link-left">
      <a href="/dashboards/{{domain}}">{{domain}}</a>
    </h3>
  </div>
</div>

<div class="body">
  <div class="bg-body-entity"></div>
  <div class="container">

    {{#unless _id}}
    <div id="ghImportHolder" class="hidden-xs">

      <div class="project-link">
        <a id="ghImportBtn" >
          <label>{{__ "Import Project"}}</label>
          <div>
            <i class="fa fa-github"></i>
            <span class="github">{{__ "GitHub"}}</span>
          </div>
        </a>
      </div>

      <div class="gh-import input-group col-md-4 hide">
        <input id="txt-repo" type="text" class="form-control" placeholder="username / repository">
        <span class="input-group-btn">
          <button id="searchGh" class="btn btn-blue" type="button" data-loading-text='{{__ "LOADING"}}'>
            {{__ "import"}}
          </button>
        </span>
      </div>

    </div>
    {{/unless}}

    <div class="col-md-4">

      <div class="cover">

        <div class="progress" title="{{status}}">
          <div class="status">
            <select name="status" id="status" class="form-control" value="{{status}}">
              {{#each statuses}}
              <option value="{{.}}">{{.}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div id="dragdrop" class="dropzone item-cover"
          {{#if cover}}
          style="background-image: url({{cover}});"
          {{/if}}>
        </div>
        <p class="error-cover bg-danger text-danger hidden"></p>
      </div>

    </div>

    <div class="col-md-8">

      <h3> 你需要多少錢？ ( 30 ~ 50 萬之間 ) </h3>
      <input type="number" class="form-control" id="money" name="money" value="{{money}}", placeholder="例如: 500000">

      <h3> 請以 80 ~ 120 字、簡短且非專業人士也能理解的方式介紹此專案 </h3>
      <textarea class="form-control" rows="6" id="desc" name="desc">{{desc}}</textarea>

      <h3> 你為什麼要做這個計劃 （ 個人動機 ）？</h3>
      <textarea class="form-control" rows="6" id="motivation" name="motivation">{{motivation}}</textarea>

      <h3> 這是一個現有的計畫嗎？若是，請說明是否為開源及提供網址 </h3>
      <textarea class="form-control" rows="6" id="existed" name="existed">{{existed}}</textarea>

      <h3> 本專案是否有非開源元件？ </h3>
      <textarea class="form-control" rows="6" id="nonos" name="nonos">{{nonos}}</textarea>

      <h3> 請以此句型釐清專案目標、受眾與獨特性 </h3>
      <style type="text/css">
        input.tmp { display: inline-block; width: 170px; margin-bottom: 5px }
      </style>
      <p>
       「為了解決 <input type="text" class="form-control tmp" id="detailUser" name="detailUser" placeholder="某使用者族群"> 遇到的 <input type="text" class="form-control tmp" id="detailProblem" name="detailProblem" placeholder="要解決的問題"> 困難，我的專案提供 <input type="text" class="form-control tmp" id="detailService" name="detailService" placeholder="某些服務"> ，可以做到 <input type="text" class="form-control tmp" id="detailSolution" name="detailSolution" placeholder="如何解決問題">  。我的專案跟 <input type="text" class="form-control tmp" id="detailCompetitor" name="detailCompetitor" placeholder="現有的解決方案"> ，在 <input type="text" class="form-control tmp" id="detailCompare" name="detailCompare" placeholder="差異與區別部份"> 不同，因此具有不可取代性。」
      </p>

      <h3> 這個計畫要解決什麼問題？ ( 200 ~ 500 字 ) </h3>
      <textarea class="form-control" rows="6" id="problem" name="problem">{{problem}}</textarea>

      <h3> 你預計用什麼方式解決此問題？ (200 ~ 500 字 ) </h3>
      <textarea class="form-control" rows="6" id="solution" name="solution">{{solution}}</textarea>

      <h3> 為什麼你的方法可以解決此問題？ (200 ~ 500 字 ) </h3>
      <textarea class="form-control" rows="6" id="why" name="why">{{why}}</textarea>

      <h3> 請列出這個計畫的目標對象，他們的需求、情境與使用動機 (200-500 字) </h3>
      <textarea class="form-control" rows="6" id="ta" name="ta">{{ta}}</textarea>

      <h3> 請說明你如何讓目標用戶知道這個服務並完成其第一次使用，以及在他有需求時願意再來用這個服務？(200-500字)</h3>
      <textarea class="form-control" rows="6" id="growth" name="growth">{{growth}}</textarea>

      <h3> 是否已有相似的專案，本計劃的差異與不可取代性為何？</h3>
      <textarea class="form-control" rows="6" id="similar" name="similar">{{similar}}</textarea>

      <h3> 過去有作過相關主題的計畫嗎？ </h3>
      <textarea class="form-control" rows="6" id="related" name="related">{{related}}</textarea>
      <h3> 請提供本計劃的示意圖或介面設計草圖 ( 請以連結方式提供圖片 ) </h3>
      <textarea class="form-control" rows="6" id="refdesign" name="refdesign">{{refdesign}}</textarea>

      <h3> 過去作過什麼開源開發計畫（open source project）？ (可提供 GitHub 帳號) </h3>
      <textarea class="form-control" rows="6" id="pastprj" name="pastprj">{{pastprj}}</textarea>

      <h3> 這個計畫預計跟什麼團體合作？</h3>
      <textarea class="form-control" rows="6" id="cowork" name="cowork">{{cowork}}</textarea>

      <h3> 預計六個月內將花多少小時作這件事？</h3>
      <textarea class="form-control" rows="6" id="usetime" name="usetime">{{usetime}}</textarea>

      <h3> 獎助金預計如何使用（大略比例）？</h3>
      <textarea class="form-control" rows="6" id="spending" name="spending">{{spending}}</textarea>

      <h3> 打算如何讓社群參與以及回饋意見？</h3>
      <textarea class="form-control" rows="6" id="feedback" name="feedback">{{feedback}}</textarea>

      <h3> 請說明本專案會產出的開源軟體套件或開放授權文件 (請條列個別元件的輸入輸出或其功能) </h3>
      <textarea class="form-control" rows="6" id="product" name="product">{{product}}</textarea>

      <h3> 請說明計畫期中的工作里程碑與驗收給付標準</h3>
      <textarea class="form-control" rows="6" id="milestone1" name="milestone1">{{milestone1}}</textarea>

      <h3> 請說明計畫期末的工作里程碑與驗收標準</h3>
      <textarea class="form-control" rows="6" id="milestone2" name="milestone2">{{milestone2}}</textarea>

      <h3> 你覺得這個提案可能會面臨的困難有哪些，你又會如何解決這些困難？ </h3>
      <textarea class="form-control" rows="6" id="difficulty" name="difficulty">{{difficulty}}</textarea>

      <h3> 計畫結束後未來可能進一步的發展？</h3>
      <textarea class="form-control" rows="6" id="future" name="future">{{future}}</textarea>

      <h3> 本計畫目前是否已有、或正在申請其他的資金來源？若有，請說明申請本獎助的內容與其他計畫的差異</h3>
      <textarea class="form-control" rows="6" id="otherfund" name="otherfund">{{otherfund}}</textarea>

      <h3> 依獎助金的主題方向畫分的話，本計畫屬於哪個分類？</h3>
      <select class="form-control" id="category" name="category" value="{{category}}" multiple>
        {{#select category}}
        <option value="開放政府">開放政府</option>
        <option value="新媒體">新媒體</option>
        <option value="公共政策">公共政策</option>
        <option value="開放資料">開放資料</option>
        <option value="社會參與">社會參與</option>
        <option value="基礎建設">基礎建設</option>
        {{/select}}
      </select>

      <h3> 若有專案介紹的投影片，請提供</h3>
      <textarea class="form-control" rows="6" id="slide" name="slide">{{slide}}</textarea>

      <h3> 請簡介參與人員及提案者在專案中的角色(例如：developer、PM)，以及團隊背景介紹 </h3>
      <textarea class="form-control" rows="6" id="role" name="role">{{role}}</textarea>

      <!--<div class="description">
        <label for="description"><h3>請用下方範本說明專案，不要修改井字號開頭的標頭</h3></label>
        <textarea id="description" name="description">{{description}}</textarea>
      </div>-->
      <div class="tags">
        <input id="tags" type="text" name="tags" placeholder='{{__ "Tags"}}' class="form-control" value="{{getTags}}"/>
      </div>
      <div class="link">
        <input id="link" type="text" name="link" placeholder='{{__ "Project URL Demo"}}' class="form-control" value="{{link}}"/>
      </div>
      <div id="project-edit-error"></div>

      <div class="pull-right buttons-panel">
        <div class="pull-right save">
          <a id="save" class="btn btn-success">{{__ "Save"}}</a>
        </div>
        <div class="pull-right cancel">
          <a id="cancel" class="btn btn-danger"
            {{#if _id}}
            href="/projects/{{_id}}"
            {{else}}
            href="/dashboards/{{domain}}"
            {{/if}}
          >{{__ "Cancel"}}</a>
        </div>
      </div>

    </div>

  </div>

</div>
