<div class="header dashboard-{{domain}}">
  <div class="container">
    <label>提案</habel>
    <h1>{{title}}</h1>
    <h3 class="page-link-left">
      <a href="/dashboards/{{domain}}">{{domain}}</a>
    </h3>
  </div>
</div>

<div class="body dashboard-{{domain}}">
  <div class="bg-body-entity"></div>
  <div class="container">

    <div class="col-md-4">

      <div class="cover {{#unless cover}}no-cover{{/unless}}">

        <div class="progress" title="{{status}}">
          <div class="{{status}}"></div>
          <div class="status">{{status}}</div>
        </div>

        {{#if awarded}}
          <div class="awarded"></div>
        {{/if}}
        {{#if finalist}} {{#unless awarded}}
          <div class="finalist"></div>
        {{/unless}}{{/if}}
        {{#if cover}}
        <div class="item-cover"
          style="background-image: url({{cover}});"></div>
        {{else}}
        <i class="item-letter">{{firstLetter title}}</i>
        {{/if}}
      </div>


      <div class="buttons-panel top-buttons">

      {{#isLoggedIn}}

        {{#if showActions}}

          <div class="contributor">
            {{#if contributing}}
            <a data-loading-text="{{__ "leaving..."}}" class="btn btn-blue leave">{{__ "Leave"}}</a>
            {{else}}
            <a data-loading-text="{{__ "joining..."}}" class="btn btn-blue join">{{__ "Join"}}</a>
            {{/if}}
          </div>
          <div class="follower">
            {{#if following}}
            <a data-loading-text="{{__ "unfollowing..."}}" class="btn btn-blue unfollow">{{__ "Unfollow"}}</a>
            {{else}}
            <a data-loading-text="{{__ "following..."}}" class="btn btn-blue follow">{{__ "Follow"}}</a>
            {{/if}}
          </div>

        {{/if}}

      {{else}}

        <a class="btn btn-blue login">{{__ "Follow"}}</a>
        <a class="btn btn-blue login">{{__ "Join"}}</a>

      {{/isLoggedIn}}

        <a class="share tooltips share-top" data-original-title="{{__ "Share this Project"}}">
          <i class="fa fa-share-alt"></i>
        </a>
      </div>

      <div class="people">

        <div class="clearfix">
          <h5>{{__ "Proposed by"}}</h5>
          <a class="pull-left" href="/users/{{leader._id}}">
            {{getProfileImageHex leader}}
          </a>
        </div>

        <div class="clearfix contributor">
          <h5>{{__ "Contributors"}} [{{contributors.length}}]</h5>
          {{#each contributors}}
          <a class="pull-left" href="/users/{{_id}}">
            {{getProfileImageHex .}}
          </a>
          {{/each}}
        </div>

        <div class="clearfix follower">
          <h5>{{__ "Followers"}} <span class="badge">{{followers.length}}</span></h5>
          {{#each followers}}
          <a class="pull-left" href="/users/{{_id}}">
            {{getProfileImageHex .}}
          </a>
          {{/each}}
        </div>
        <div class="clearfix revisions">
          <h5> {{__ "Revisions"}} </h5>
          {{#each revisions}}
          <a data-idx="{{@index}}">{{timeAgo timestamp}}</a>
          {{/each}}
        </div>
        <div id="projectRevisionDiff" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reivision Changes</h4>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-8">
      <hr class="visible-xs visible-sm visible-md">
      {{#if isAdminOrLeader}}
      {{#if editable}}
      <h3>提案同意書</h3>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdpt0R4dIMOgIsQXV64TuANTpB4_qRC4ZtTdEY09DvSTK1XaQ/viewform?embedded=true&entry.2074051524=https://grants.g0v.tw/projects/{{_id}}#start=embed" width="100%" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading</iframe>
      {{/if}}
      {{/if}}
      {{#if description}}
      <div class="description">
        {{{markdown description}}}
      </div>
      {{else}}

      <div class="project-detail">
        <h3> 你需要多少錢? ( 30 ~ 50 萬之間 )</h3>
        <div>{{{money}}}</div>
      </div>

      <div class="project-detail">
        <h3> 請以 80 ~ 120 字、簡短且非專業人士也能理解的方式介紹此專案 </h3>
        <div>{{{markdown desc}}}</div>
      </div>

      <div class="project-detail">
        <h3> 你為什麼要做這個計劃 （ 個人動機 ）？</h3>
        <div>{{{markdown motivation}}}</div>
      </div>

      <div class="project-detail">
        <h3> 這是一個現有的計畫嗎？若是，請說明是否為開源及提供網址</h3>
        <div>{{{markdown existed}}}</div>
      </div>

      {{#if nonos}}
      <div class="project-detail">
        <h3> 本專案是否有非開源元件？ </h3>
        <div>{{{markdown nonos}}}</div>
      </div>
      {{/if}}

      {{#if detailUser}}
      <div class="project-detail">
        <h3> 請以此句型釐清專案目標、受眾與獨特性 </h3>
        <div>「為了解決 {{{detailUser}}} 遇到的 {{{detailProblem}}} 困難，我的專案提供 {{{detailService}}}，可以做到 {{{detailSolution}}} 。我的專案跟 {{{detailCompetitor}}}，在 {{{detailCompare}}} 不同，因此具有不可取代性。」</div>
      </div>
      {{/if}}

      <div class="project-detail">
        <h3> 這個計畫要解決什麼問題？ ( 200 ~ 500 字 )</h3>
        <div>{{{markdown problem}}}</div>
      </div>

      <div class="project-detail">
        <h3> 你預計用什麼方式解決此問題？ (200 ~ 500 字 )</h3>
        <div>{{{markdown solution}}}</div>
      </div>

      <div class="project-detail">
        <h3> 為什麼你的方式可以解決此問題？ (200 ~ 500 字 )</h3>
        <div>{{{markdown why}}}</div>
      </div>

      <div class="project-detail">
        <h3> 請列出這個計畫的目標對象，他們的需求、情境與使用動機 (200-500 字)</h3>
        <div>{{{markdown ta}}}</div>
      </div>

      <div class="project-detail">
        <h3> 請說明你如何讓目標用戶知道這個服務並完成其第一次使用，以及在他有需求時願意再來用這個服務？</h3>
        <div>{{{markdown growth}}}</div>
      </div> 

      <div class="project-detail">
        <h3> 是否已有相似的專案，本計劃的差異與不可取代性為何？</h3>
        <div>{{{markdown similar}}}</div>
      </div>

      {{#if related}}
      <div class="project-detail">
        <h3> 過去有作過相關主題的計畫嗎？</h3>
        <div>{{{markdown related}}}</div>
      </div>
      {{/if}}

      <div class="project-detail">
        <h3> 請提供本計劃的示意圖或介面設計草圖 (請以連結方式提供圖片) </h3>
        <div>{{{markdown refdesign}}}</div>
      </div>

      <div class="project-detail">
        <h3> 過去作過什麼開源開發計畫（open source project）？(可提供 GitHub 帳號) </h3>
        <div>{{{markdown pastprj}}}</div>
      </div>

      <div class="project-detail">
        <h3> 這個計畫預計跟什麼團體合作？</h3>
        <div>{{{markdown cowork}}}</div>
      </div>

      <div class="project-detail">
        <h3> 預計六個月內將花多少小時作這件事？</h3>
        <div>{{{markdown usetime}}}</div>
      </div>

      <div class="project-detail">
        <h3> 獎助金預計如何使用（大略比例）？</h3>
        <div>{{{markdown spending}}}</div>
      </div>

      <div class="project-detail">
        <h3> 打算如何讓社群參與以及回饋意見？</h3>
        <div>{{{markdown feedback}}}</div>
      </div>

      <div class="project-detail">
        <h3> 請說明本專案會產出的開源軟體套件或開放授權文件（請條列個別元件的輸入輸出或其功能）</h3>
        <div>{{{markdown product}}}</div>
      </div>

      <div class="project-detail">
        <h3> 請說明計畫期中的工作里程碑與驗收給付標準</h3>
        <div>{{{markdown milestone1}}}</div>
      </div>

      <div class="project-detail">
        <h3> 請說明計畫期末的工作里程碑與驗收標準</h3>
        <div>{{{markdown milestone2}}}</div>
      </div>

      <div class="project-detail">
        <h3> 你覺得這個提案可能會面臨的困難有哪些，你又會如何解決這些困難？ </h3>
        <div>{{{markdown difficulty}}}</div>
      </div> 

      <div class="project-detail">
        <h3> 計畫結束後未來可能進一步的發展？</h3>
        <div>{{{markdown future}}}</div>
      </div>

      <div class="project-detail">
        <h3> 本計畫目前是否已有、或正在申請其他的資金來源？若有，請說明申請本獎助的內容與其他計畫的差異</h3>
        <div>{{{markdown otherfund}}}</div>
      </div>

      <div class="project-detail">
        <h3> 依獎助金的主題方向畫分的話，本計畫屬於哪個分類？</h3>
        <div>{{{category}}}</div>
      </div>

      <div class="project-detail">
        <h3> 若有專案介紹的投影片，請提供</h3>
        <div>{{{markdown slide}}}</div>
      </div>

      {{#if role}}
      <div class="project-detail">
        <h3> 請簡介參與人員及提案者在專案中的角色(例如：developer、PM)，以及團隊背景介紹 </h3>
        <div>{{{markdown role}}}</div>
      </div>
      {{/if}}
      {{/if}}

      <ul class="tags clearfix col-md-10">
        {{#each tags}}
        {{#if .}}
        <li>
          <a href="/dashboards/{{../../domain}}?q={{.}}" data-bypass="true">{{.}}</a>
        </li>
        {{/if}}
        {{/each}}
      </ul>
      <div class="share-ctn clearfix col-md-2 share-inner">
        <a class="share tooltips" data-original-title="{{__ "Share this Project"}}">
          <i class="fa fa-share-alt"></i>
        </a>
      </div>
    </div>

    <div class="col-md-12 buttons-panel">

    {{#if link}}
    <div class="pull-right">
      <a href="{{link}}" target="__blank" class="btn btn-red">{{__ "demo"}}</a>
    </div>
    {{/if}}

    {{#isLoggedIn}}

      {{#if isAdminOrLeader}}
      <div class="pull-right remove">
        <a class="btn btn-danger">{{__ "Remove"}}</a>
      </div>
      {{#if editable}}
      <div class="pull-right edit">
        <a class="btn btn-success" href="/projects/{{_id}}/edit">{{__ "Edit"}}</a>
      </div>
      {{/if}}
      {{/if}}

      {{#if showActions}}

      <div class="pull-left bottom-buttons">

        <div class="pull-left contributor">
          {{#if contributing}}
          <a data-loading-text="{{__ "leaving..."}}" class="btn btn-blue leave">{{__ "Leave"}}</a>
          {{else}}
          <a data-loading-text="{{__ "joining..."}}" class="btn btn-blue join">{{__ "Join"}}</a>
          {{/if}}
        </div>
        <div class="pull-left follower">
          {{#if following}}
          <a data-loading-text="{{__ "unfollowing..."}}" class="btn btn-blue unfollow">{{__ "Unfollow"}}</a>
          {{else}}
          <a data-loading-text="{{__ "following..."}}" class="btn btn-blue follow">{{__ "Follow"}}</a>
          {{/if}}
        </div>

      </div>
      {{/if}}

    {{else}}

      <div class="pull-left bottom-buttons">
        <a class="btn btn-blue login follower">{{__ "Follow"}}</a>
        <a class="btn btn-blue login contributor">{{__ "Join"}}</a>
      </div>

    {{/isLoggedIn}}
    </div>

  </div>

  <div class="container discourse-ctn" style="margin-top: 0px">
  </div>

  <div class="container disqus-ctn">
    <div id="disqus_thread" class="col-md-12"></div>
  </div>

</div>
